<nav>
  <h1>Hi.</h1>
  <a href="/">
    <img src="/images/f13a7d94b648a3a15655f0ec1dc3284e.jpeg" id="gravatar" alt="Tiernan OToole"/>
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>
      <li><a href="/">Home</a></li>
      <li><a href="/archive.html">Archive</a></li>
      <li><a href="/about.html">About</a></li>
      <li><a href="/DailyCarry/">Daily Carry</a></li>
      <li><a href="/ToolsList/">Useful Tools List</a></li>
      <li><a href="https://github.com/tiernano/www.tiernanotoole.ie/">Fork this site on GitHub</a></li>
      <li><a href="https://feedburner.google.com/fb/a/mailverify?uri=tiernanotoole&amp;loc=en_US">Subscribe to this site by Email</a></li>
      <li><a href="https://secure.backblaze.com/r/01px2w">Backblaze: Get 1 Month Free!</a> (promo code)</li>
      <li><a href="https://m.do.co/c/d4d345b83b55">Digital Ocean: Get $10 free credit!</a> (promo code)</li>
      <li><a href="http://www.vultr.com/?ref=6925432">Vultr Servers</a> (promo code)</li>
      <li><a href="http://photos.geekphotographer.com">Photos</a></li>
      <li><a href="http://blog.lotas-smartman.net">Other Blog</a></li>
      <li><a href="http://miniblog.tiernanotoole.ie">Micro Blog</a></li>

      <!-- sidebar -->
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- tiernanotoole_ie_sidebar -->
      <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-6435972961836580"
            data-ad-slot="2480192807"
            data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
        <h2>Interesting tags</h2>
      <ul>
          <li><a href="/tag/HomeLab">HomeLab Stuff</a></li>
          <li><a href="/tag/VoIP/">VoIP stuff</a></li>
          <li><a href="/tag/Projects/">Projects</a></li>
          <li><a href="/tag/Programming/">Programming</a></li>
          <li><a href="/tag/Raspberry_Pi/">Raspberry Pi Stuff</a></li>
          <li><a href="/tag/Networking/">Networking</a></li>
          <li><a href="/tag/IPv6/">IPv6</a></li>
          <li><a href="/tag/Announcements/">Announcements</a></li>
          <li><a href="/tag/Development">Development</a></li>
      </ul>
      <h2>My HomeLab</h2>
      <ul>
        {% for computer in site.data.computers %}
          {% if computer.sidebar %}
          <li>
            <a href="{{ computer.url }}">{{ computer.name }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
